<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
  <%binding.pry%>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, %w[backlog in_progress done], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :deadline %>
    <%= form.datetime_field :deadline, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-block btn-primary mt-4 mb-3' %>
  </div>

<% end %>