<div class="container">
  <div class="row">
    <h1 class="mt-4 mb-3">All Tasks</h1>
    <div class="card-body d-flex justify-content-end">
      <%= link_to 'New Task', new_task_path, class: 'btn btn-primary my-2 my-lg-0' %>
    </div>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each_with_index do |task, i| %>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-primary' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

